@import "../../app.component.less";

.gamesCol {
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
}

.searchRow {
    display: flex;
    justify-content: center;
}

.myModalBody {
    color: whitesmoke; 
    text-align: center; 
    background-color: @secondaryColor;
}