@import "../../app.component.less";

.avatarImg {
    &:hover {
        cursor: pointer;
    }
    &:focus {
        border: 1px solid black;
    }
}

.registerModalBody {
    color: whitesmoke; 
    text-align: center; 
    background-color: @secondaryColor;
}

.cancelBtn {
    color: whitesmoke;
    text-decoration: none;
    &:hover {
        cursor: pointer;
    }
}

.errorMsg {
    color: rgb(184, 41, 41);
}