@mainColor:  #2f2c49;
@secondaryColor: #26223b;
@complementaryColor: #1c6456;
@emphasisColor: #1a162d;

.btn-primary {
    color: #fff;
    background-color:@complementaryColor;
    border-color: @complementaryColor;
    &:hover {
        background-color: #347064
    }
}

.basicInput {
    border-radius: 7px;
    border: none;
}

