@mainColor:  #2f2c49;
@secondaryColor: #26223b;
@complementaryColor: #23967fe6;
@emphasisColor: #1a162d;
@hoverColor: #3d365e;

.btn-primary {
    color: #fff;
    background-color:@complementaryColor;
    border-color: @complementaryColor;
    &:hover {
        background-color: #347064
    }
}

.basicInput {
    border-radius: 7px;
    border: none;
}


.modalHeader {
    margin-bottom: 10px;
    border-bottom: 1px solid white;
}
